USER=moodscot
PASSWORD=abc123$%^
CONSUMER_KEY=MqmC445PgdRcL3kGOV1jlA
CONSUMER_SECRET=uVoRVMRAb4i3rJzISTiksikC6fD48xavIIXDuSpDU
ACCESS_TOKEN_KEY=1544677256-8miH8PS8ScFweMCNAONDSqzzkxYRGx0KrnJ2BSZ
ACCESS_TOKEN_SECRET=IZLkA9uivhHWdXmz4IRXHCVo2JWq6Ic6e5eTrhVpcg
